{% extends 'base.html' %}

{% block title %}Добавление задачи{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}

    {# Вывод общих ошибок формы #}
    {% if form.non_field_errors %}
        <div class="errorlist nonfield-errors">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    {# Проходим по всем полям формы #}
    {% for field in form %}
        <p>
            {{ field.label_tag }}
            {{ field }}
            {# Ошибки конкретного поля #}
            {% if field.errors %}
                <ul class="errorlist">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </p>
    {% endfor %}

    <p><button type="submit">Сохранить</button></p>
</form>
{% endblock %}
